body{
	background-image : URL('Learning-Product-Management-Skills-vs.-Training-Proficientz.jpg');	
	background-position: 10px 30px
	}
p{
	color : white;
        font-size: 30px;
      }
h1.topicos {
     	color: gold;
     }
#destaque{
	color: white;
	font-size: 20px;
}