body{
	background-image : URL('Learning-Product-Management-Skills-vs.-Training-Proficientz.jpg');	
	background-position: 10px 10px;
	background-repeat: no-repeat; 
	background-attachement: scroll;
	background-size: 1240px 720px;
	
	}
p{
	color : white;
        font-size: 30px;
      }
h1.topicos {
     	color: gold;
     }
#destaque{
	color: white;
	font-size: 20px;
}
